#container1{
    background-image: url('https://cdn.pixabay.com/photo/2016/06/20/03/15/pier-1467984__340.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
span h1{
    margin-left: 200px;
    color:darkred;
    font-family: lucida handwriting,cursive;
}
#navbar{
    display: flex;

}
span{
    background-color: burlywood;
    height:50px;
}
.menu{
    display: flex;
    margin-left: 500px;
    padding: 20px;
    justify-content: space-evenly;
}
.menu p{
    background-color: greenyellow;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.intro{
    margin-top:200px;
    margin-left:400px;
}
.intro h1{
    color: purple;
    font-family: forte,cursive;
    font-size: 50px;
}
.intro p{
    color:whitesmoke;
    font-family: monotype corsiva,cursive;
    font-size: 25px;
    font-weight:800;
}
.container2{
    background-color: whitesmoke;
}
.container2 h1{
    margin-left: 37.5%;
    margin-top: 100px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
}
.container2 p{
    margin-top: 50px;
    margin-left: 25%;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif,cursive;
    font-size: 20px;
}
.container2 img{
    width: 175px;
    height: 175px;
    margin-top: 35px;
    margin-left: 250px;

}
.pimg-con{
    display: flex;
}
.pccon{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.im1, .im2, .im3{
    background-color: #ccc;
    padding-left: 100px;
    padding-top: 40px;
    padding-right:25px;
    padding-bottom: 25px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px #888888;
}
.im1 i{
    padding: 25px;
    font-size: 50px;
    transition: transform 0.3s ease;
    background-color: purple;
    border-radius: 50%;
    margin-left: 50px;
}
.im1 i:hover{
    transform: scale(1.1);
}
.im2 i{
    padding: 25px;
    font-size: 50px;
    transition: transform 0.3s ease;
    background-color: purple;
    border-radius: 50%;
    margin-left: 50px;
}
.im2 i:hover{
    transform: scale(1.1);
}
.im3 i{
    padding: 25px;
    font-size: 50px;
    transition: transform 0.3s ease;
    background-color: purple;
    border-radius: 50%;
    margin-left: 50px;
}
.im3 i:hover{
    transform: scale(1.1);
}
.im1 h4, .im2 h4, .im3 h4{
    margin-top: 25px;
    font-family: consolas,cursive;
    color: purple;
    margin-left: 25px;
}
.im1 p, .im2 p, .im3 p{
    font-size: 18px;
    margin-left: -80px;
    font-family: cursive;
}
.imgcon{
    margin-left: -230px;
    display: flex;
    justify-content: space-around;
}
.img1 img, .img2 img, .img3 img, .img4 img{
    width: 40%;
    height: 300px;
}
.plans{
    display: flex;
    justify-content: space-evenly;
    margin-top: 75px;
}
.std p, .bus p, .pre p{
    font-size: 18px;
    margin-left: -10px;
    font-family: bradley hand itc,cursive;
    font-weight: 800;
}
.std h6, .bus h6, .pre h6{
    margin-left: -15px;
    font-family: castellar,cursive;
    font-weight: 700;
}
.std h9, .bus h9, .pre h9{
    font-size: 17px;
    font-family: ink-free,cursive;
    color: cornflowerblue;
}
.std, .bus{
    border-right: 3px solid #ccc;
    padding-right: 200px;
}
.imgcol1, .imgcol2{
    margin-top: 50px;
    margin-left: -150px;
    display: flex;
    justify-content: space-evenly;
}
.imgcol1 img, .imgcol2 img{
    border-radius: 50%;
    width:175px;
    height:175px;
}
.matt h6, .sara h6, .aliza h6, .jimmy h6, .chris h6, .cilien h6{
    margin-top: 25px;
    margin-left: 250px;
    font-family: cursive;
    font-weight: 800;
}
.matt p, .sara p, .aliza p, .jimmy p, .chris p, .cilien p{
    margin-top: -10px;
    margin-left: 280px;
    font-family: bradley hand itc,cursive;
    color: blueviolet;
    font-weight: 600;
}
.container4 img{
    cursor: pointer;
}
.container5{
    background-color: lightblue;
}
.container6 img{
    width: 70%;
    height: 600px;
    cursor: pointer;
}
.container7{
    background-color: lightgoldenrodyellow;
}
.container8{
    background-color: seashell;
}
.container8 img{
    margin-top:100px;
    margin-left: 30%;
    width: 500px;
    height: 500px;
    border:10px solid purple;
}
.container9{
    background-image: url("https://cdn.pixabay.com/photo/2017/12/16/22/23/regensburg-3023439__340.jpg");
}
.container9 h2{
    margin-left: 37.5%;
    margin-top: 100px;
    padding-top: 30px;
    font-family: ink-free,cursive;
    color: rgb(53, 32, 32);
    font-size: 54px;
}
.container9 input{
    margin-top: 50px;
    margin-left: 400px;
    width: 500px;
    height: 40px;
}
.container9 button{
    width: 100px;
    height: 50px;
}
.container10{
    background-color: linen;
}
.blgimg{
    display: flex;
    justify-content: space-evenly;
    margin-left: -150px;
}
.blgimg h6{
    margin-top: 25px;
    margin-left: 210px;
    font-family: forte,cursive;
    color:crimson;
}
.blgimg p{
    margin-left: 220px;
    font-family: bradley hand itc,cursive;
    font-size: 18px;
    color: blue;
}
.blgimg img{
    width: 200px;
    height: 200px;
}
.blgimg button{
    margin-left: 280px;
}
.container11{
    margin-top: 100px;
}
.signup{
    display: flex;
    justify-content: space-around;
}
.signup img{
    height: 700px;
    width: 50%;
    margin-top: 0;
    margin-left: -100px;
    margin-right: -200px;
}
.contacts{
    background-color: gold;
    padding: 100px;
    padding-left: 200px;
    padding-right: 220px;
}
.contacts h2{
    margin-left: 70px;
    font-size: 40px;
    font-family: lucida calligraphy,cursive;
    font-weight: 1000;
}
.contacts form{
    margin-top: 50px;
}
.contacts input{
    margin-bottom: 25px;
    width:300px;
    height: 50px;
}
.contacts button{
    background-color: purple;
    color: white;
}
.container12{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}
.container12 h2{
    font-size: 14px;
    font-weight: 800;
    font-family: britannic bold,cursive;
}
.container12 p{
    font-size: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 0px;
    margin-top: 10px;
    font-weight: lighter;
}